<!DOCTYPE html>
<html>

<head>
    <title>Basic Form</title>
</head>

<body>
    <h1>Basic Form</h1>

    <form method="post" action="/disease">
        <label for="name">Edit Disease</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Save</button>
    </form>
</body>

</html>